:host {
	display: block;
	height: 100%;
}

.fixit {
	position: absolute;
}

.gezicht {
	height: 300px;
}

.selektor {
	height: 50%;
	overflow: scroll;
}

.selektorbox {

}

core-drawer-panel {
	background-color: white;
	height: 100%;
}

.red {
	background-color: red;
}

core-toolbar {
	background-color: transparent;
}