:host {
	display: block;
	font-family: 'Open Sans', sans-serif;
	color: white;
}

.container {
	padding: 40px;
	text-align: center;
}

h2 {
	font-size: 20px;
	font-weight: 100;
}

paper-button {
	background: #ff8d00;
	color: white;
}

paper-input-decorator /deep/ ::-webkit-input-placeholder {
	color: white;
}

paper-input-decorator /deep/ .unfocused-underline {
    /* line color when the input is unfocused */
    background-color: white;
}

.avatar {
	width: 60px;
	height: 60px;
	background-color: #eeeeee;
	border-radius:50%;
	border-color: white;
	border-width: 2px;
	border-style: solid;
	margin: 0px 8px 0px 8px;
	padding: 0px;
}